
/*
 * login.css
 */

/* div#login-page */

body {
  background-image: url("/images/gardens_0.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

form {
  position: absolute;
  right: 7%;
  bottom: 20%;

  text-align: center;

  /*
  display: inline-block;
  background-color: rgba(175, 175, 175, 0.7);
  padding: 0.84em 1.4em;
  border-radius: 0.35em;
  */
}
input {
  font-size: 120%;
}
input[type="submit"] {
  font-size: 110%;
  margin-top: 0.7em;
  width: 96%;
}

